body{
    margin: 0;
    padding: 0;
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px double white;
}

h1{
    color: white;
    font-style: "Chalkduster", fantasy;
    font-size: 100px;
}

main{
    height: calc(100vh - 110px);
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.carta{
    height: 15vw;
    width: 15vw;
    max-height: 170px;
    max-width: 170px;
    box-sizing: border-box;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.carta:hover{
    border: 5px black;
}

